$btn-primary-background = #3bc8f5
$btn-primary-background-hover = #3eddff
$btn-primary-color = #ffffff

$btn-success-background = #bbed21
$btn-success-background-hover = #d2f95f
$btn-success-color = #535c69

$btn-disabled-background = #d9d9d9
$btn-disabled-background-hover = #d9d9d9
$btn-disabled-color = #595959

$btn-danger-background = #f5222d
$btn-danger-background-hover = #ff7875
$btn-danger-color = #ffffff

$btn-outline-border = #bbed21
$btn-outline-background-hover = #d2f95f
$btn-outline-color = #bbed21
$btn-outline-color-hover = #ffffff

$logo-color = #2f54eb
$logo-color-hover = #061178

$menu-link-color = $logo-color
$menu-link-color-hover = $logo-color-hover
